services:
  test-runner:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    image: identity-service:test
    container_name: identity-service-test
    volumes:
      - ./test-results:/src/TestResults
      - ./src:/src/src
      - ./test:/src/test
      - ./IdentityService.sln:/src/IdentityService.sln
    environment:
      - ASPNETCORE_ENVIRONMENT=Test
    command: dotnet test IdentityService.sln --verbosity normal --logger "trx;LogFileName=test-results.trx" --results-directory:/src/TestResults
    networks:
      - identity-service-network

networks:
  identity-service-network:
    driver: bridge
